.question-card {
  background: rgba(225, 192, 173, 0.75);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 22px; 
}

.rules-section {
  background: rgba(225, 192, 173, 0.75);;
  padding: 16px;
  border-radius: 12px;
}

.rules-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 23px;
}

.rules-text {
  line-height: 1.45;
  font-size: 17px;
  color: #444;
}

.question-content {
  text-align: left;
}

.question-title {
  font-size: 20px;
  font-weight: 800; 
  color: #333;
  margin-bottom: 8px;
}

.question-description {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;
}

.attempts-info {
  margin-top: auto;
  font-weight: 700;
  font-size: 15px;
  text-align: right;
}
